*{
	box-sizing: border-box;
}
html,body{
	height: 100%;
	background: white;
	color: #333333;
}
#__nuxt{
	height: 100%;
}
#default_template{
	height: 100%;
	background: #FFFFFF;
}
#sign-template{
	height: 100%;
}
input:focus{
	border: none;
}
a,a:hover,a:focus,a:visited
{
  color: inherit !important;
  text-decoration: none !important;
}
ul,ol,dl{
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}
img{
	max-width: 100%;
}
